@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.logo {
    font-family: Cuprum;
}

.navbar {
    font-family: Cuprum;
}

.logo-shine {
    font-family: 'Bungee Inline', sans-serif;
    font-family: 'Cuprum', sans-serif;
    font-family: 'Fugaz One', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
}

.logo-dark {
    font-family: 'Bungee Inline', sans-serif;
    font-family: 'Bungee Shade', sans-serif;
    font-family: 'Cuprum', sans-serif;
    font-family: 'Fugaz One', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
}